html {
    background-color: #edeeef;
}

nav {
    background-color: #333;
    border-bottom: none;
    box-shadow: none;
    color: #000;
}

.my-container {
    padding: 10px 10px;
}

.pagination {
    text-align: center;
}

.article-link {
    color: #333;
    text-decoration: none;
}

article:hover {
    box-shadow: 0 2px 1px #333;
    transition: all .3s;
}

article img {
    width: 100%;
    height: auto;
}



.waves-effect a:hover {
    color: antiquewhite;
}

article {
    padding: 16px;
    height: auto;
    margin-bottom: 10px;
}

.ad {
    height: 100%;
}

.page-footer {
    background-color: #333;
}

@media screen and (max-width: 600px) {
    .ad {
        display: none;
    }
    
    article {
        text-align: center;
    }
}
